body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdfdfd;
}

.container {
    text-align: center;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fdfdfd; /* Set background color to match the provided image */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#word {
    font-size: 2em;
    margin: 0;
}

#definition {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

.beautiful-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.font-light {
    font-weight: 300;
}

.pt-8 {
    padding-top: 2rem;
}

.m-auto {
    margin: auto;
}

.max-w-xl {
    max-width: 36rem;
}

.text-2xl {
    font-size: 1.5em;
}

.text-3xl {
    font-size: 2em;
}

.font-bold {
    font-weight: 700;
}

.mt-4 {
    margin-top: 1rem;
}

.footer {
    margin-top: 80px;
    font-size: 0.9em;
    color: #888;
}

.footer a {
    color: #C1391C; /* Set footer link color to dark orange */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    color: #888; /* Ensure "by" text is default color */
}
