body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent; /* Ensure transparency */
    border: none; /* Remove border */
    box-shadow: none; /* Remove box shadow */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#word {
    font-size: 2em;
    margin: 0;
}

#definition {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

.beautiful-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.8; /* Adjust opacity to blend with the background */
}

.text-center {
    text-align: center;
}

.font-light {
    font-weight: 300;
}

.pt-8 {
    padding-top: 2rem;
}

.m-auto {
    margin: auto;
}

.max-w-xl {
    max-width: 36rem;
}

.text-2xl {
    font-size: 1.5em;
}

.text-3xl {
    font-size: 2em;
}

.font-bold {
    font-weight: 700;
}

.mt-4 {
    margin-top: 1rem;
}
